@model IEnumerable<ConcecionarioAutomoviles.Models.Extra>

@{
    ViewData["Title"] = "Index";
}

<h1>Extras</h1>

<p>
    <a asp-action="Create">Crear nuevo extra</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del extra
            </th>
            <th>
                Precio del extra
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioExtra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdExtra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdExtra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdExtra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
