@model IEnumerable<ConcecionarioAutomoviles.Models.Concesionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Concecionarios</h1>

<p>
    <a asp-action="Create">Crear nuevo concecionario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del concesionario
            </th>
            <th>
                Domicilio del concesionario
            </th>
            <th>
               NIF
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreConcesionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomicilioConcesionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConcesionario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdConcesionario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdConcesionario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
