@model IEnumerable<ConcecionarioAutomoviles.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Ventas</h1>

<p>
    <a asp-action="Create">Crear nueva venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Precio venta
            </th>
            <th>
                Modo de pago
            </th>
            <th>
                Fecha de entrega
            </th>
            <th>
                Matricula
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsDeStock)
            </th>
            <th>
                ID automovil
            </th>
            <th>
                ID servicio
            </th>
            <th>
                ID vendedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsDeStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAutomovilNavigation.NumeroBastidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServicioOficialNavigation.IdServicioOficial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVendedorNavigation.IdVendedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
