@model IEnumerable<ConcecionarioAutomoviles.Models.ServiciosOficiales>

@{
    ViewData["Title"] = "Index";
}

<h1>Servicios</h1>

<p>
    <a asp-action="Create">Crear nuevo servicio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del servicio
            </th>
            <th>
                Domicilio del servicio
            </th>
            <th>
               NIF
            </th>
            <th>
                ID Concesionario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreServicioOficial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomicilioServicioOficial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdConcesionarioNavigation.IdConcesionario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdServicioOficial">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdServicioOficial">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdServicioOficial">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
