@model IEnumerable<ConcecionarioAutomoviles.Models.ServiciosOficiales>

@{
    ViewData["Title"] = "Index";
}



<style>


    table td,
    table th {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    thead th {
        color: #fff;
    }

    .card {
        border-radius: .5rem;
    }

    .table-scroll {
        border-radius: .5rem;
    }

        .table-scroll table thead th {
            font-size: 1.25rem;
        }

    thead {
        top: 0;
        position: sticky;
    }

    h2, p {
        text-align: center;
    }

</style>

<h2>Clientes</h2>

<p>
    <a asp-action="Create">Crear Cliente</a>
</p>
<section class="intro">
    <div class="bg-image h-100" style="background-color: #f5f7fa;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                    <table class="table table-striped mb-0">
                                        <thead style="background-color: #002d72;">
                                            <tr>
                                                <th scope="col">
                                                    Nombre
                                                </th>
                                                <th scope="col">
                                                   Direccion
                                                </th>
                                                <th scope="col">
                                                    Cedula
                                                </th>
                                                <th scope="col">
                                                    IDVehiculo
                                                </th>
                                                <th scope="col">
                                                </th>
                                            </tr>
                                        </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreServicioOficial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomicilioServicioOficial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdConcesionarioNavigation.IdConcesionario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdServicioOficial">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdServicioOficial">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdServicioOficial">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
